/* All fonst for my project 
font-family: 'Shantell Sans', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */

/*stylesheet for cssBayan*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0.625rem;
    min-height: 100vh;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    background-color: #cecece;
}

.main {
    flex: 1;
    margin: 0.5rem 0;
}


.str--footer {
    display: flex;
    justify-content: space-between;
    line-height: 3rem;
}

@media (min-width:320px) {
    .wrap {
        padding: 0.625rem;
        max-width: 100vw;
        margin: 0 auto;
    }

    .title--header {
        font-family: 'Montserrat Alternates', sans-serif;
        padding-top: 2rem;
        font-size: 2.2rem;
        line-height: 4rem;
        font-weight: bold;
    }

    .accordion {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .accordio--item {
        /* margin-bottom: 0.625rem; */
        /* border-top: 0.0625rem solid #fd8905; */
        border-bottom: 0.0625rem solid #fd8905;

    }

    .accordio--item:first-child {
        border-top: 0.0625rem solid #fd8905;
    }

}

@media (min-width:820px) {
    .wrap {
        padding: 0.625rem;
        max-width: 80vw;
        margin: 0 auto;
    }

    .title--header {
        font-family: 'Shantell Sans', cursive;
        padding-top: 2rem;
        font-size: 3rem;
        line-height: 4rem;
        /* font-weight: bold; */
    }

}

@media (min-width:1920px) {
    .wrap {
        max-width: 55vw;
    }

    .title--header {
        font-family: 'Montserrat Alternates', sans-serif;
        padding-top: 2rem;
        font-size: 4rem;
        line-height: 6rem;
    }

    .accordio--item {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

}